body{
    background-color: black;
}


.page {
    max-width: 1100px;
    margin: auto;
    min-height: 100vh;
    background-color: #3b0468;
}
.navbar{
    overflow: hidden;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul li a{
    color:white;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

ul li:hover{
    background-color: #c7c3c311;
    cursor: pointer;
}

ul li:active{
    background-color: #df129a11;
}

.github_icon{
    width: 90px;
    height: auto;
    float: right;
}

.gitHub_icon:hover{
    background-color: #1111;
    cursor: pointer;
}


a{
    text-decoration: none;
    color: black;
}

.home_container{
    text-align: center;
    padding: 50px;
}

